{% extends "base.html" %}
{% block content %}
<div class="container has-text-centered">
    <h1 class="title">
        Bookzen
    </h1>
    <h2 class="subtitle">
        Find best price for your favorite books
    </h2>
    <form class="control" method="POST" action="/">
        <div class="columns is-mobile">
            <div class="column is-10-mobile is-offset-1-mobile is-8-desktop is-offset-2-desktop">
                {{ form.csrf_token }}
                {{ form.search(id="search", type="text", placeholder="Book name, keywords etc...", class="input is-primary is-medium") }}
            </div>
        </div>
        <div class="columns is-mobile">
            <div class="column is-2-desktop is-offset-5-desktop has-text-centered">
                <button class="button is-primary is-medium" type="submit">Search</button>
            </div>
        </div>
    </form>
</div>
<div>Page Not Found</div>
{% endblock %}