<!DOCTYPE html>
<html lang="en">
    <head>
        {% block meta %}{% endblock %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="{% block des %}aaa{% endblock %}">
        <title>{% block title %}aaa{% endblock %} | bbb</title>

        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bulma.css') }}">
        <!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
        {% block content %}{% endblock %}

        {% block footer %}
        {% endblock %}

        {% block js %}{% endblock %}
    </body>
</html>