{% extends "base.html" %}
{% block meta %}
  <meta property="og:type"          content="website" />
  <meta property="og:url"           content="{{ request.url }}" />
{% endblock %}
{% block des %}
{% endblock %}
{% block content %}
  {% include "form.html" %}
  {% if keyword %}
    <div class="container has-text-centered">
      <div>
        <p>Có phải từ bạn muốn tìm là <a href="{{ url_for('search', keyword=keyword) }}">{{ keyword }}</a></p>
      </div>
      <div>
        <p> Các từ tìm kiếm có liên quan:
          {% for similar in most_similar %}
            <b><a href="{{ url_for("search", keyword=similar) }}">{{ similar | remove_underscore}}</a></b>
          {% endfor %}
        </p>
      </div>
    </div>
    <br>
  {% endif %}
  {% if book %}
    <div class="container has-text-justified  ">
      <div class="center main-book">
        <div class="columns">
        <div class="column is-one-quarter">
          <div class="card">
            <div class="card-image">
              <a href="{{ book.url }}" rel="nofollow" target="_blank">
                <figure class="image is-square">
                  <img src="{{ book.image_uri }}" alt="">
                </figure>
              </a>
            </div>
            <div class="card-content">
              <div class="media">
                <div class="media-content">
                  <a href="{{ url_for('show_post', book_id=book.ids) }}" rel="nofollow" target="_blank">
                    <p class="title is-5">{{ book.name|truncate(65) }}</p>
                  </a>
                  {% if book.price %}<b>{{ book.price }}</b><br> {% endif %}
                  <b>{{ book.spider }}</b>
                  <p>{{ book.ids }}</p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="column">
          <b>{{ book.description | truncate(1800) | make_capitalize }}</b>
        </div></div>
      </div>
    </div>
  {% endif %}
  <div class="container has-text-centered">
    <div class="columns is-multiline">
      {% for book in books %}
        
        <div class="column is-2 is-8-mobile is-offset-2-mobile">
          <div class="card">
            <div class="card-image">
              <a href="{{ url_for('show_post', book_id=book.ids) }}" target="_blank">
                <figure class="image is-square">
                  <img src="{{ book.image_uri }}" alt="">
                </figure>
              </a>
            </div>
            <div class="card-content">
              <div class="media">
                <div class="media-content">
                  <a href="{{ url_for('show_post', book_id=book.ids) }}">
                    <p class="title is-5">{{ book.name|truncate(65) }}</p>
                  </a>
                  {% if book.price %}<b>{{ book.price }}</b><br> {% endif %}
                  <a href="{{ book.url }}" >
                    <b class="title is-5">{{ book.spider }}</b>
                  </a>
                  <p>{{ book.ids }}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    {# </div>
    <div class="fb-share-button" data-href="{{ request.url }}" data-layout="button_count" data-size="large" data-mobile_iframe="true">
    </div> #}
  </div>
</div>
<br>
<hr>
{# {% elif %}
<p>Ahihi</p>
{% endif %} #}
{% endblock %}